# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
#*.pickle
*.egg-info/
*.ipynb_checkpoints/

.idea/
.vscode/

data/attack/*
!data/attack/.gitkeep

data/cv_assessments/*
!data/cv_assessments/.gitkeep

data/mimiciii_query_results/*
!data/mimiciii_query_results/.gitkeep

data/model_training/*
!data/model_training/.gitkeep

data/output_feature_finalizer/*
!data/output_feature_finalizer/.gitkeep

data/preprocess_checkpoints/1_prefilter/*
!data/preprocess_checkpoints/1_prefilter/.gitkeep
data/preprocess_checkpoints/2_merged_stay_measurements/*
!data/preprocess_checkpoints/2_merged_stay_measurements/.gitkeep
data/preprocess_checkpoints/3_full_admission_list/*
!data/preprocess_checkpoints/3_full_admission_list/.gitkeep
data/preprocess_checkpoints/4_feature_builder/*
!data/preprocess_checkpoints/4_feature_builder/.gitkeep






