# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pickle
*.egg-info/
*.ipynb_checkpoints/

.idea/
.vscode/

data/attack/*
!data/attack/tuning/.gitkeep
!data/attack/frozen_hyperparameter_attack/tuning/.gitkeep

data/attack_analysis/*
!data/attack_analysis/.gitkeep

data/model/*
!data/model/cross_validation/.gitkeep
!data/model/tuning/.gitkeep

data/preprocess/*
!data/preprocess/.gitkeep

data/query_db/*
!data/query_db/.gitkeep

data/model_training/*
!data/model_training/.gitkeep

# docker/tuning_dbs.env
docker/app_dev/.env
docker/app_dev/postgres_password.txt
docker/app_dev/tuner_password.txt
docker/app/.env
docker/app/postgres_password.txt
docker/app/tuner_password.txt

logs/*
!logs/.gitkeep

