# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
#*.pickle
*.egg-info/
*.ipynb_checkpoints/

.idea/
.vscode/

data/attack/*
!data/attack/attack_hyperparameter_tuning/.gitkeep
!data/attack/attack_hyperparameter_tuning/2023-06-28_12_11_46.874267_max_single_nonzero
!data/attack/attack_hyperparameter_tuning/2023-06-30_10_52_24.059982_max_sparsity
!data/attack/attack_hyperparameter_tuning/2023-07-01_11_03_13.591090_max_sparse_small_max


data/tune_train/*
data/tune_train/model_assessments/cross_validation/*
!data/tune_train/model_assessments/cross_validation/.gitkeep
data/tune_train/model_assessments/single_fold_training/*
!data/tune_train/model_assessments/single_fold_training/.gitkeep

data/query_db/*
!data/query_db/.gitkeep

data/model_training/*
!data/model_training/.gitkeep

data/preprocess/final_output/*
!data/preprocess/final_output/.gitkeep

data/preprocess/checkpoints/1_prefilter/*
!data/preprocess/checkpoints/1_prefilter/.gitkeep
data/preprocess/checkpoints/2_merged_stay_measurements/*
!data/preprocess/checkpoints/2_merged_stay_measurements/.gitkeep
data/preprocess/checkpoints/3_full_admission_list/*
!data/preprocess/checkpoints/3_full_admission_list/.gitkeep
data/preprocess/checkpoints/4_feature_builder/*
!data/preprocess/checkpoints/4_feature_builder/.gitkeep






